{{#paper-card}}
  {{#paper-card-content}}
    <h2>{{step.name}} <small>step {{order}}</small></h2>

    <p>{{step.text}}</p>
    {{#each fields as |field|}}
      <p>
        {{field.order}}: {{field.name}}<br>
        {{component field.component model=field}}
      </p>
    {{/each}}
  {{/paper-card-content}}

  <div class="md-actions" layout="row" layout-align="end center">
    {{#paper-button action='next'}}Next{{/paper-button}}
  </div>
{{/paper-card}}
